altgraph==0.17
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
conda==4.8.4
conda-package-handling==1.7.0
cryptography==2.9.2
future==0.18.2
idna==2.9
ImageHash==4.1.0
keyboard==0.13.5
menuinst==1.4.16
numpy==1.19.1
opencv-python==4.4.0.40
pefile==2019.4.18
Pillow==7.2.0
pycosat==0.6.3
pycparser==2.20
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.7
pyOpenSSL==19.1.0
PyQt5==5.15.0
PyQt5-sip==12.8.0
pyqt5ac==1.2.1
PySocks==1.7.1
PyWavelets==1.1.1
pywin32==227
pywin32-ctypes==0.2.0
PyYAML==5.3.1
requests==2.23.0
ruamel-yaml==0.15.87
scipy==1.5.2
sip==4.19.13
six==1.14.0
tqdm==4.46.0
urllib3==1.25.8
win-inet-pton==1.1.0
wincertstore==0.2
